main {
  display: grid;
  min-height: 100vh;
}

.tab {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  flex-direction: column;
  background-color: #0a2342;
  align-items: start;
  height: 100%;
}

.tab h2 {
  color: white;
  padding: 20px;
}

.tablinks {
  border: none;
  padding: 20px;
  font-size: 1rem;
  background-color: transparent;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  cursor: pointer;
}

.tablinks svg {
  width: 25px;
  height: 25px;
  object-fit: contain;
}

.active {
  background-color: #f46036;
}

.tabcontent {
  grid-column-start: 3;
  grid-column-end: 12;
}

.tabcontent .container {
  width: 95%;
  margin: auto;
  padding-top: 15px;
}

.tabcontent .nav {
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.tabcontent .nav .nav-admin {
  display: flex;
  align-items: center;
  gap: 5px;
  text-transform: capitalize;
}

.tabcontent .dash-box {
  padding: 25px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}

.tabcontent .dash-item {
  width: 100%;
  height: 250px;
  background-color: #f46036;
  border-radius: 10px;
  color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.tabcontent .dash-item h5 {
  font-size: 23px !important;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.tabcontent .dash-item h1 {
  font-size: 47px !important;
}

.tabcontent .breadcrumb {
  text-transform: capitalize;
}

.tab .logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.tab .logo svg {
  width: 20px;
  height: 20px;
  object-fit: contain;
  margin: 10px;
  fill: white;
  display: none;
  cursor: pointer;
}

.hamburger {
  display: none;
}

.hamburger svg {
  width: 30px;
  height: 30px;
  object-fit: contain;
  cursor: pointer;
}

@media (max-width: 791px) {
  main {
    display: block;
  }

  .tablinks {
    font-size: 15px;
  }

  .breadcrumb,
  .nav .nav-admin {
    font-size: 14px;
  }

  .nav p {
    display: none;
  }

  .tab .logo svg {
    display: block;
  }

  .tab {
    position: fixed;
    display: none;
  }

  .hamburger {
    display: block;
  }
}

@media (max-width: 576px) {
  .breadcrumb,
  .nav p,
  .nav .nav-admin {
    font-size: 12px;
  }

  .tablinks {
    font-size: 13px;
  }
}

/* Classes */
.table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  background: white;
}

.table .action-icon {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.table tbody tr td {
  padding: 20px !important;
  border-bottom: 1px solid #000 !important;
}

.pagination {
  display: block;
}

.pagination a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
}

.pagination a.active {
  background-color: #f46036;
  border-radius: 10px;
  color: white;
}

.pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 0;
}

/* End of Classes */
