main {
  display: grid;
  min-height: 100vh;
}

.tab {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  flex-direction: column;
  background-color: #0a2342;
  align-items: start;
  height: 100%;
}

.tab h2 {
  color: white;
  padding: 20px;
}

.tablinks {
  border: none;
  padding: 20px;
  font-size: 1rem;
  background-color: transparent;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  cursor: pointer;
}

.tablinks svg {
  width: 25px;
  height: 25px;
  object-fit: contain;
}

.active {
  background-color: #f46036;
}

.tabcontent {
  grid-column-start: 3;
  grid-column-end: 12;
}

.tabcontent .container {
  width: 95%;
  margin: auto;
  padding-top: 15px;
}

.tabcontent .nav {
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.tabcontent .nav .nav-admin {
  display: flex;
  align-items: center;
  gap: 5px;
  text-transform: capitalize;
}

.tabcontent .dash-box {
  padding: 25px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}

.tabcontent .dash-item {
  width: 100%;
  height: 250px;
  background-color: #f46036;
  border-radius: 10px;
  color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.tabcontent .dash-item h5 {
  font-size: 23px !important;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.tabcontent .dash-item h1 {
  font-size: 47px !important;
}

.tabcontent .breadcrumb {
  text-transform: capitalize;
}

.tab .logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.tab .logo svg {
  width: 20px;
  height: 20px;
  object-fit: contain;
  margin: 10px;
  fill: white;
  display: none;
  cursor: pointer;
}

.hamburger {
  display: none;
}

.hamburger svg {
  width: 30px;
  height: 30px;
  object-fit: contain;
  cursor: pointer;
}

@media (max-width: 791px) {
  main {
    display: block;
  }

  .tablinks {
    font-size: 15px;
  }

  .breadcrumb,
  .nav .nav-admin {
    font-size: 14px;
  }

  .nav p {
    display: none;
  }

  .tab .logo svg {
    display: block;
  }

  .tab {
    position: fixed;
    display: none;
  }

  .hamburger {
    display: block;
  }
}

@media (max-width: 576px) {
  .breadcrumb,
  .nav p,
  .nav .nav-admin {
    font-size: 12px;
  }

  .tablinks {
    font-size: 13px;
  }
}

/* Classes */
.classes {
  margin: 10px 0;
}

.classes p {
  margin: 10px 0;
}

.responsive-table {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0 !important;
}

.responsive-table li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.responsive-table .table-header {
  background: #f8f8f8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  text-transform: uppercase;
  padding: 20px !important;
  border: 1px solid rgba(30, 30, 30, 0.26);
}
.responsive-table .table-row {
  background-color: #ffffff;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
  padding: 20px !important;
  border-radius: 10px;
  border: 1px solid rgba(30, 30, 30, 0.26);
}
.responsive-table .col-1 {
  flex-basis: 10%;
}
.responsive-table .col-2 {
  flex-basis: 35%;
}
.responsive-table .col-3 {
  flex-basis: 15%;
}
.responsive-table .col-4 {
  flex-basis: 15%;
}
.responsive-table .col-5 {
  flex-basis: 15%;
}
.responsive-table .col-6 {
  flex-basis: 25%;
}
.responsive-table .col-7 {
  flex-basis: 20%;
}
.responsive-table .col {
  text-align: center;
}

.responsive-table .activity-col {
  flex-basis: 45%;
}

.responsive-table .action-icon {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.responsive-table .action-icon svg {
  cursor: pointer;
  width: 15px;
  height: 15px;
  object-fit: contain;
}

.activity-control {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.form-select {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
  margin: 10px 0;
}

.form-select select {
  padding: 10px 20px !important;
  background-color: #fff;
  border: 1px solid #c5c5c5;
  border-radius: 5px;
}

@media (max-width: 767px) {
  .table-header {
    display: none;
    font-size: 14px;
  }

  .table-row {
    font-size: 14px;
  }

  li {
    display: block;
  }
  .col {
    flex-basis: 100%;
  }
  .col {
    display: flex;
    padding: 10px 0;
    &:before {
      color: #6c7a89;
      padding-right: 10px;
      content: attr(data-label);
      flex-basis: 50%;
      text-align: right;
    }
  }
}

@media (max-width: 576px) {
  .table-header {
    font-size: 12px;
  }

  .table-row {
    font-size: 12px;
  }
}

.pagination {
  display: block;
}

.pagination a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
}

.pagination a.active {
  background-color: #f46036;
  border-radius: 10px;
  color: white;
}

.pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 0;
}

/* End of Classes */

/* Form */
.form-dashboard {
  margin: 20px 0;
  padding: 30px 60px;
  background: #ffffff;
  border: 1px solid #d8d0d0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.form-dashboard h2 {
  margin-top: 10px;
}

.form-control {
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.form-d-group {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

.form-d-group label {
  margin-bottom: 10px;
}

.form-d-input,
.form-d-group select {
  padding: 15px 20px;
  background: #ffffff;
  border: 1px solid #d8d8d8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.form-d-button {
  border: none;
  background-color: #1e589f;
  padding: 15px 25px;
  color: #fff;
  border-radius: 10px;
  text-transform: uppercase;
}

.attendance-button {
  border: none;
  background-color: #1e589f;
  padding: 15px 25px;
  color: #fff;
  border-radius: 10px;
  text-transform: uppercase;
}

.attendance-date {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* End of Form */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Teacher */
.teachers .headAdd {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.headAdd h2 {
  text-transform: uppercase;
}

.add-button {
  border: none;
  background: #3f9d1d;
  border-radius: 5px;
  padding: 10px 20px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}

.attendance-head {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

/* End of Teacher */
